In [1]:
import pandas as pd

In [5]:
b16 = pd.read_excel("../data/postdoc_data/B16_res.xlsx")
b16.head()

           Ensembl.ID   Gene.Name  estimate  raw_pvalue     FDR_q
0  ENSMUSG00000106106  CT010467.1 -0.307548    0.000073  0.970096
1  ENSMUSG00000050891      Tatdn1 -0.596373    0.000178  0.970096
2  ENSMUSG00000015839      Nfe2l2  0.355366    0.000299  0.970096
3  ENSMUSG00000052384       Nrros  0.887222    0.000628  0.970096
4  ENSMUSG00000030110         Ret -1.282534    0.000674  0.970096

In [6]:
downinBAP1 = pd.read_excel("../data/postdoc_data/Human_NCI_DowninBAP1.xlsx")
downinBAP1.head()

        Ensembl.ID   Gene.Name  NCIEV_V1N_1  NCIBAP1_V1N_1  log2_ratio
0  ENSG00000279484  KLHL30-AS1     1.135262       0.077342   -3.875625
1  ENSG00000226179   LINC00685     1.059578       0.077342   -3.776089
2  ENSG00000128482      RNF112     0.983894       0.077342   -3.669174
3  ENSG00000215417     MIR17HG     0.832525       0.077342   -3.428166
4  ENSG00000179909      ZNF154     1.513683       0.154684   -3.290662

In [7]:
upinBAP1 = pd.read_excel("../data/postdoc_data/Human_NCI_UpinBAP1.xlsx")
upinBAP1.head()

        Ensembl.ID Gene.Name  NCIEV_V1N_1  NCIBAP1_V1N_1  log2_ratio
0  ENSG00000170345       FOS     0.302737      22.197223    6.196173
1  ENSG00000125740      FOSB     0.605473      13.766919    4.506999
2  ENSG00000268223  ARL14EPL     0.075684       1.237476    4.031266
3  ENSG00000143867      OSR1     0.075684       1.005449    3.731706
4  ENSG00000183018     SPNS2     0.151368       1.933556    3.675122

In [9]:
snu = pd.read_excel("../data/postdoc_data/SNU_res.xlsx")
snu.head()

        Ensembl.ID Gene.Name  estimate  raw_pvalue     FDR_q
0  ENSG00000114859     CLCN2  0.580722    0.000027  0.295064
1  ENSG00000126001    CEP250  0.782066    0.000043  0.295064
2  ENSG00000096872     IFT74 -0.746631    0.000057  0.295064
3  ENSG00000205339      IPO7  0.492526    0.000092  0.355722
4  ENSG00000213339     QTRT1  0.424568    0.000265  0.641766

Not entirley sure what Im supposed to do with this data